body{
    margin: 0;
    padding: 0;
    background-color: #4844b4;
    text-align: center;
    color: white;
}

.img{
    margin-left: 0;
    float: left;
    width: 900px;
    height: 1000px;
    
}

.details{
    color: black;
    display: inline-block;
}

.desc{
    font-size: 3rem;
}

.form{
    font-size: 1.2rem;
    height: 30%;
    width: 50rem;
    margin: 3rem;
}

.btn{
    font-size: 2rem;
    margin-left: 40px; 
    margin-right: 40px;
    margin-top: 30px;
    width: 20rem;
    height: 5rem;
    background-color: #dd7973;
    color: white;
    
}

a{
    text-decoration: none;
    color: white;
}